/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}


/* nav */

.nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background-color: rgba(25, 25, 25, 0.8);
}

.nav__content {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4.5rem;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    border-bottom: 2px solid white;
    padding: 10px 15px;
}

.nav ul li a:hover {
    color: #00cdce;
    transition: all 0.5s;
    border-bottom: 2px solid rgba(12, 11, 11, 0);
}

.nav h1 span {
    margin-left: -1.6rem;
    color: #00cdce;
}


/* carousel */

.carousel {
    position: relative;
    color: white
}

.item img {
    display: block;
    width: 100%;
}

.item h2 {
    position: absolute;
    top: 48%;
    width: 100%;
    font-size: 6rem;
    text-align: center
}

.item p {
    position: absolute;
    top: 58%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #d3d8d8;
}

.owl-nav button:first-child span {
    font-size: 10rem;
    color: white;
    position: absolute;
    top: 43%;
    left: 5%;
}

.owl-nav button:nth-child(2) span {
    font-size: 10rem;
    color: white;
    position: absolute;
    top: 43%;
    right: 5%;
}

.owl-dots {
    position: absolute;
    bottom: 23%;
    left: 48%;
}


/* about */

.about {
    margin: 6rem 0;
}

.about__grid h3 {
    text-align: center;
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 6rem
}

.about__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3rem
}

.about__content i {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px solid black;
    line-height: 10rem;
    font-size: 2rem;
}

.about__content i:hover {
    color: white;
    background-color: #00cdce;
    cursor: pointer;
    transition: all 0.5s;
}

.about__content p {
    color: #7f7777;
    margin-top: 0.8rem;
    line-height: 2.8rem
}

.about__intro {
    text-align: center;
    width: 75%;
    margin: 0 auto
}

.about__intro h4 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #00cdce;
    font-weight: 600;
}

.about__intro p {
    font-size: 1.5rem;
    line-height: 3rem
}